<div id="full">
  <h2>Tweet</h2>
  <!-- <div class="container"> -->
  <div id="error">{{ error }}</div>
  <form
    (ngSubmit)="!createForm.invalid && createCompany()"
    #createForm="ngForm"
  >
    <div class="mb-3">
      <fieldset>
        <label class="form-label">message </label>
        <input
          [(ngModel)]="company.message"
          type="text"
          name="message"
          required="required"
          placeholder="message"
          class="form-control"
        />
      </fieldset>

      <fieldset>
        <label class="form-label">tag </label>
        <input
          [(ngModel)]="company.tag[0]"
          type="text"
          name="tag"
          required
          placeholder="tag"
          class="form-control"
        />
      </fieldset>
      <br />
      <button class="btn btn-primary" type="submit">Add tweet</button>
    </div>
  </form>
  <!-- </div> -->

  <br />
  <!-- {{ company.companyWebsite }} -->
</div>
