<p>create works!</p>
<h2>Update Company</h2>
<div class="container">
  <div class="form-floating">
    <label class="form-label">Company Name</label>
    <input
      [(ngModel)]="company.name"
      type="text"
      name="companyName"
      class="form-control"
      required
    />
  </div>

  <fieldset>
    <label>companyCEO:- </label>
    <input
      [(ngModel)]="company.likes"
      type="text"
      name="companyCEO"
      required
      class="form-control"
    />
  </fieldset>

  <fieldset>
    <label>companyTurnover:- </label>
    <input
      [(ngModel)]="company.localDateTimeCreated"
      type="text"
      name="companyTurnover"
      required
      class="form-control"
    />
    <small *ngIf="turnover"> shold be greater than 10 cr</small>
  </fieldset>

  <fieldset>
    <label>companyWebsite:- </label>
    <input
      [(ngModel)]="company.message"
      type="text"
      name="companyWebsite"
      required
      class="form-control"
    />
  </fieldset>

  <br />
  <button class="btn btn-success" (click)="updateCompany()">save</button>
</div>
<br />
{{ company.tag[0] }}
