<div>
  <div class="topi"><h1>TWITTER</h1></div>
  <button class="btn btn-primary btnn" (click)="alltweet()">ALL TWEET</button>
  <div>
    <div id="body1">
      <div id="user">{{ company.name }}</div>

      <div id="message">{{ company.message }}</div>
      <div id="tag">{{ company.tag[0] }}</div>
      <div id="bottom">
        <div class="bottom1">
          {{ company.likes }} <i class="fa fa-heart heart"></i>
        </div>
        <div class="bottom1">{{ company.localDateTimeCreated }}</div>
      </div>
    </div>
    <div id="body2" *ngFor="let c of company.replies">
      <div id="user">{{ c.name }}</div>
      <div id="message">{{ c.message }}</div>
      <div id="bottom">
        <div class="bottom1">{{ c.localDateTimeCreated }}</div>
      </div>
    </div>
  </div>
</div>
