<div id="full">
  <h2>Reset password</h2>
  <div id="error">{{ error }}</div>
  <form (ngSubmit)="!createForm.invalid && reset()" #createForm="ngForm">
    <div class="mb-3">
      <fieldset>
        <label class="form-label">username </label>
        <input
          [(ngModel)]="login.username"
          type="text"
          name="username"
          placeholder="username"
          required="required"
          class="form-control"
        />
      </fieldset>
      <fieldset>
        <label class="form-label">password </label>
        <input
          [(ngModel)]="login.password"
          type="text"
          name="password"
          placeholder="password"
          required="required"
          class="form-control"
        />
      </fieldset>

      <br />
      <button class="btn btn-primary" type="submit">Reset</button>
    </div>
  </form>
</div>
