<!-- <p>twitter works!</p> -->
<div class="topi"><h1>TWITTER</h1></div>
<div id="nav">
  <button class="btn btn-primary btnn" (click)="createoneCompany()">
    Add Tweet
  </button>
  <button class="btn btn-primary btnn" (click)="mytweet()">My Tweets</button>
  <div class="left">
    <button class="btn btn-primary btnn" (click)="alluser()">ALL User</button>

    <button class="btn btn-primary btnn" (click)="logout()">Logout</button>
  </div>
</div>
<div id="body1" *ngFor="let c of tweets">
  <div id="user">{{ c.name }}</div>

  <div id="message">{{ c.message }}</div>
  <div id="tag">{{ c.tag[0] }}</div>
  <div id="bottom">
    <div class="bottom1">
      <button (click)="addlike(c.id, c.userId, c)" color="primary" class="bto">
        {{ c.likes }} <i class="fa fa-heart heart"></i>
      </button>
    </div>
    <div class="bottom1">{{ c.localDateTimeCreated }}</div>
    <div class="bottom1">
      <button
        (click)="onetweet(c.id)"
        mat-flat-button
        color="primary"
        class="bto"
      >
        Replies
      </button>
    </div>
    <div class="bottom1">
      <button
        (click)="reply(c.id, c.userId)"
        mat-flat-button
        color="primary"
        class="bto"
      >
        Reply
      </button>
    </div>
  </div>
</div>
