<div id="full">
  <h2>Login to twitter</h2>
  <!-- <div class="container"> -->
  <div id="error">{{ error }}</div>

  <form (ngSubmit)="!createForm.invalid && logintwitter()" #createForm="ngForm">
    <div class="mb-3">
      <fieldset>
        <label class="form-label"><strong>USERNAME</strong> </label>
        <input
          [(ngModel)]="login.username"
          type="text"
          name="username"
          placeholder="username"
          required="required"
          class="form-control"
        />
      </fieldset>

      <fieldset>
        <label class="form-label"> <strong>PASSWORD</strong> </label>
        <input
          [(ngModel)]="login.password"
          type="password"
          name="password"
          placeholder="password"
          required
          class="form-control"
        />
      </fieldset>
      <br />
      <button class="btn btn-primary btnn" type="submit">Login</button>
    </div>
  </form>
  <!-- </div> -->
  <button class="btn btn-primary btnn" (click)="reset()">Reset password</button>
  <button class="btn btn-primary btnn" (click)="register()">
    New to Twitter
  </button>
  <br />
</div>
