<p>mytweet works!</p>
<span>All TWEET</span>
<button class="btnn" (click)="alltweet()">ALL TWEET</button>
<br />
<div class="container">
  <table class="table-light table-hover">
    <thead>
      <tr>
        <td>tweet id</td>
        <td>user id</td>
        <td>user name</td>
        <td>messsage</td>
        <td>likes</td>
        <td>tag</td>
        <td>replies</td>
      </tr>
    </thead>
    <tbody>
      <tr id="adi" *ngFor="let c of tweets">
        <td>{{ c.id }}</td>
        <td>{{ c.userId }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.message }}</td>
        <td>{{ c.likes }} <i class="fa fa-heart heart"></i></td>
        <td>{{ c.tag[0] }}</td>
        <td>{{ c.replies[0].message }}</td>

        <td>
          <button
            (click)="updateCompany(c.id, c.userId)"
            mat-flat-button
            color="primary"
            class="bto"
          >
            Update
          </button>
        </td>
        <td>
          <button class="delete bto" (click)="deleteCompany(c.id)">
            <i class="fa fa-trash iocn"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
