<div>
  <div class="topi"><h1>TWITTER</h1></div>
  <button class="btn btn-primary btnn" (click)="alltweet()">ALL TWEET</button>
  <br />
  <h2>My Tweets</h2>
  <div id="body1" *ngFor="let c of tweets">
    <div id="user">
      <img class="image" src="./assets/profile.jpg" alt="Italian Trulli" />{{
        c.name
      }}
    </div>

    <div id="message">{{ c.message }}</div>
    <div id="bottom">
      <div class="bottom1">{{ c.localDateTimeCreated }}</div>
      <div class="bottom1">
        <button
          (click)="updateCompany(c.id, c.userId)"
          mat-flat-button
          color="primary"
          class="bto"
        >
          Update
        </button>
      </div>
      <div class="bottom1">
        <button class="delete bto" (click)="deleteCompany(c.id)">
          <i class="fa fa-trash iocn"></i>
        </button>
      </div>
    </div>
  </div>
</div>
