<div>
  <div class="topi"><h1>TWITTER</h1></div>
  <button class="btn btn-primary btnn" (click)="alltweet()">ALL TWEET</button>
  <br />
  <div class="container">
    <h2>All Users</h2>
    <table class="table-light table-hover">
      <thead>
        <tr>
          <td>User Id</td>
          <td>User Name</td>
          <td>Password</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Contact No.</td>
          <td>Profile Image</td>
        </tr>
      </thead>
      <tbody>
        <tr id="adi" *ngFor="let c of user">
          <td>{{ c.id }}</td>
          <td>{{ c.username }}</td>
          <td>{{ c.password }}</td>
          <td>{{ c.firstName }}</td>
          <td>{{ c.lastName }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.contactNo }}</td>
          <td>
            <img
              class="image"
              src="./assets/profile.jpg"
              alt="Italian Trulli"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
